@model ProjetC_MVCSalleSport.Models.Membre

@using (Html.BeginForm("Login", "Auth", FormMethod.Post))
{
    <h2 >Login As Membre</h2>
    <div>
        <label for="mail">Email:</label>
        @Html.TextBoxFor(model => model.mail, new { id = "mail" })
    </div>

    <div>
        <label for="motDePasse">Mot de passe:</label>
        @Html.PasswordFor(model => model.motDePasse, new { id = "motDePasse" })
    </div>

    <button type="submit">Se connecter</button>
    @Html.ActionLink("S'inscrire", "SignUp", "Auth")
}