@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url('Content/image.jpg');
        background-size: cover;
        background-position: center;
        color: white;
        text-align: center;
    }

    .container {
        padding-top: 100px;
    }

    h1 {
        font-size: 48px;
    }

    .btn {
        margin-top: 20px;
        margin-right: 10px;
    }
</style>

<main class="container">
    <h1>FitLAND</h1>
    <div>
        <a href="@Url.Action("Index", "Admin")" class="btn btn-primary btn-lg">Continuer en tant qu'administrateur</a>
        <a href="@Url.Action("Index", "Membre")" class="btn btn-primary btn-lg">Continuer en tant que membre</a>
        <a href="@Url.Action("Index", "Coach")" class="btn btn-primary btn-lg">Continuer en tant que coach</a>
    </div>
</main>
